# 1 Hello World

In [574]:
print("Hello World")

Hello World

In [575]:
# Comment

In [576]:
# Check type
type("Hellow World") #str
type(2.4) #float
type(True) #bool

bool

In [577]:
# Makes all letters upper case
"Hellow World".upper()
# Makes all letters lower case
"Hellow World".lower()
# Makes all letters title
"Hellow World".title()

'Hellow World'

In [578]:
print("Hellow World".upper())
print("Hellow World".lower())
print("hellow world".title())

HELLOW WORLD
hellow world
Hellow World

In [579]:
# Letter count
print("Hello World".count('l'))
print("Hello World".count("World"))

3
1

In [580]:
# Replace certain words/letters
"Hello World".replace("Hello", 'u')

'u World'

In [581]:
# New Line in a print statement
  # Use \n
print("Hello \nWorld")

Hello
World

# 2 Variables

In [582]:
message_1 = "I'm learning Python"
print(message_1)

I'm learning Python

In [583]:
message_2 = "and Jupyter"

In [584]:
# String Concatenation
message_1 + message_2 # = "I'm learning Pythonand Jupyter"
message = message_1 + ' ' + message_2
print(message)

I'm learning Python and Jupyter

In [585]:
# f string
  #  to embed expressions inside string literals
f'{message}' # "I'm learning Python and Jupyter"
f'{message_1} {message_2}'

"I'm learning Python and Jupyter"

# 3 List (Arrays)

In [586]:
# Create list
countries = ['United States', "India", "China", "Brazil"]

In [587]:
countries

['United States', 'India', 'China', 'Brazil']

In [588]:
# Access indexes
  # starts at index 0
print(countries[0], countries[1], countries[2], countries[3])

United States India China Brazil

In [589]:
# Negative Indexes
  # starts at back beginning at -1
print(countries[-1], countries[-2], countries[-3], countries[-4])

Brazil China India United States

In [590]:
# Sliciing
    # list_name[start:stop]
        # includes index "start" but not index "stop"
print(countries[0:3])
    # can also have a starting point but no stop point
        # so everything after "start"
print(countries[1:])
        # works for stop too
print(countries[:3])

['United States', 'India', 'China']
['India', 'China', 'Brazil']
['United States', 'India', 'China']

## 3.1 Adding and Inserting elements

In [591]:
countries = ['United States', "India", "China", "Brazil"]
countries

['United States', 'India', 'China', 'Brazil']

In [592]:
# Add to end of list
countries.append("Canada")
countries

['United States', 'India', 'China', 'Brazil', 'Canada']

In [593]:
# Insert at index of list
countries.insert(0, "Spain")
countries

['Spain', 'United States', 'India', 'China', 'Brazil', 'Canada']

In [594]:
# Joining two lists
countries2 = ["UK", "Germany", "Russia"]
countries + countries2

['Spain',
 'United States',
 'India',
 'China',
 'Brazil',
 'Canada',
 'UK',
 'Germany',
 'Russia']

In [595]:
# Nested Lists
nested_list = [countries, countries2]
nested_list

[['Spain', 'United States', 'India', 'China', 'Brazil', 'Canada'],
 ['UK', 'Germany', 'Russia']]

## 3.2 Removing elements

In [596]:
countries = ["Spain", 'United States', "India", "China", "Brazil"]

In [597]:
# Remove by match/find
countries.remove("India")
countries

['Spain', 'United States', 'China', 'Brazil']

In [598]:
# Remove by index AND return what was removed
countries.pop(-1)

'Brazil'

In [599]:
# Remove by index WITHOUT returning what was removed
del countries[0]
countries

['United States', 'China']

In [600]:
# Deletes everything in list
countries.clear() 
print(countries)

[]

## 3.3 Sorting a List

In [601]:
numbers = [4, 3, 9, 10, 2, 1, 8, 5, 7, 6]

In [602]:
# Sort by ascending order
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [603]:
# Sort by descending order
numbers.sort(reverse=True)
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 3.4 Update an Element

In [604]:
numbers[0] = 12
numbers

[12, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 3.5 Copying a list

In [605]:
countries = ['United States', "India", "China", "Brazil"]
countries[:]

['United States', 'India', 'China', 'Brazil']

In [606]:
new_list = countries[:]
print(new_list)
#or 
new_list = countries.copy()
print(new_list)

'''
BEWARE, below creates a REFERENCE to the original list
so whatever you change to new_list2 ALSO changes countries
'''
new_list2 = countries
print(new_list2)

['United States', 'India', 'China', 'Brazil']
['United States', 'India', 'China', 'Brazil']
['United States', 'India', 'China', 'Brazil']

# 4 Dictionary (C++ Map/Struct)

In [607]:
my_dict = {'key1':"value1", "key2":"value2", 3:"value3", "key4": 4}
my_dict

{'key1': 'value1', 'key2': 'value2', 3: 'value3', 'key4': 4}

In [608]:
my_info = {"name":"Raymond", "age":21}

In [609]:
print(my_info.keys())   # return keys
print(my_info.values()) # return vaues

dict_keys(['name', 'age'])
dict_values(['Raymond', 21])

In [610]:
print(my_info.items()) # return all items

dict_items([('name', 'Raymond'), ('age', 21)])

In [611]:
# Adding key and value
my_info["height"] = 1.8
print(my_info)

{'name': 'Raymond', 'age': 21, 'height': 1.8}

In [612]:
# Update value
my_info.update({"height":1.95})
print(my_info)
# or
my_info["height"] = 1.9
print(my_info)

{'name': 'Raymond', 'age': 21, 'height': 1.95}
{'name': 'Raymond', 'age': 21, 'height': 1.9}

## 4.1 Copy a dictionary

In [613]:
new_dict = my_info.copy() # shallow copy
print(new_dict)

'''
BEWARE, below creates a REFERENCE to the original dictionary
so whatever you change to new_dict2 ALSO changes countries
'''
new_dict2 = my_info
print(new_dict)

{'name': 'Raymond', 'age': 21, 'height': 1.9}
{'name': 'Raymond', 'age': 21, 'height': 1.9}

In [614]:
new_dict.update({"height":2.0})

'''
Uncomment below to see the reference to the original dictionary
'''
# new_dict2.update({"height":2.0})
print(my_info)

{'name': 'Raymond', 'age': 21, 'height': 1.9}

## 4.2 Remove element

In [615]:
my_info.pop("age") # returns what value gets removed

21

In [616]:
print(my_info)
del my_info["height"] #does not return what gets removed
print(my_info)

{'name': 'Raymond', 'height': 1.9}
{'name': 'Raymond'}

In [617]:
my_info.clear() # deletes everything from dictionary
print(my_info)

{}

# 5 If Statement

if <condition>:
    <code>
elif <condition>:
    <code>
...
else:
    <code>

In [618]:
'''
Indentation IS REQUIRED when doing if statements
'''

'\nIndentation IS REQUIRED when doing if statements\n'

In [619]:
age = 18

if age >= 18:
    print("Can buy gun!")
elif age >= 13:
    print("You're a teenager!")
else:
    print("Bros a kid")

Can buy gun!

# 6 For Loop

for <variable> in <iterable>:
    <code>

In [620]:
'''
Iterable being a list, etc
'''

'\nIterable being a list, etc\n'

## 6.1 Looping through a list

In [621]:
countries = ['United States', 'India', 'China', 'Brazil']

In [622]:
for country in countries:
    print(country)

United States
India
China
Brazil

In [623]:
'''
Enumerate gets the number of iteration which begins at 0
'''
for i, country in enumerate(countries):
    print(i)
    print(country)

0
United States
1
India
2
China
3
Brazil

In [624]:
'''
Another method to print the countries but above is better if you want to loop through a list

NOTE:
- len(countries) returns the number of elements in the list — let’s say it's 5.
- range(num_of_countries) will generate the sequence: 0, 1, 2, 3, 4
- So countries[i] will access countries[0] through countries[4], which is valid, because index 4 is the last element when the list has 5 items.
'''
num_of_countries = len(countries) #gets length/number of elements in list
for i in range(num_of_countries):
    print(countries[i])

United States
India
China
Brazil

## 6.2 Looping through a dictionary

In [625]:
my_info = {"name":"Raymond", "age":21}
my_info

{'name': 'Raymond', 'age': 21}

In [626]:
for key, value in my_info.items():
    print(key + ' ', value)

name  Raymond
age  21

# 7 Functions

def function (<params>):
    <code>
    return <data>

In [627]:
def sum_values(a, b):
    x = a+b
    return x

In [628]:
print(sum_values(1, 2))

3

## 8.1 Built-in Functions

In [629]:
countries = ['United States', 'India', 'China', 'Brazil']

In [630]:
# Gets the length of ANY ITERABLE OBJECT
'''
len(object)
'''
len(countries)

4

In [631]:
# Maximum and minimums 
'''
max(object)
min(object)
'''
rand_nums = [10, 63, 99, 1 , 56]
print(max(rand_nums)) # returns the highest value in a iterable object
print(min(rand_nums)) #returns the lowest value in a iterable object

99
1

In [632]:
# Check types of objects

'''
type(object)
'''

print(type(countries))
print(type(my_info))
print(type("Hellow World"))
print(type(2.4)) 
print(type(True))

<class 'list'>
<class 'dict'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [633]:
# Returns of sequence of numbers that starts and ends with a number

'''
range(stop_num)
range(start_num, stop_num)
range(start_num, stop_num, increment_by)

'''

for i in range(1,10,2):
    print(i)


# starts at 1, adds 2, checks if >10

1
3
5
7
9

# 9 Module

import

## 9.1 OS Module

In [634]:
import os

In [635]:
# Gets current directory
os.getcwd()

'C:\\Users\\raymo\\learn_python_data_science\\Course'

In [636]:
# List all (including hidden) elements/files in current directory
os.listdir()

['.ipynb_checkpoints',
 '1 GettingFamiliar.ipynb',
 '2 Useful Shortcuts.ipynb',
 '3 Python Basics.ipynb']

In [637]:
# Create new folder in current directory
# os.mkdir("Test Folder")