In [11]:
import pandas as pd
df_movies = pd.read_csv("csv files/IMDb movies.csv", low_memory=False)
df_movies = df_movies[["imdb_title_id", "title", "year", "genre", "country"]]
# df_movies

df_ratings = pd.read_csv("csv files/IMDb ratings.csv")
df_ratings = df_ratings[["imdb_title_id", "total_votes", "mean_vote"]]
# df_ratings

# 1 Cocatenate: concat()

pd.concat( [df1. df2] )

## 1.1 Concatenate Vertically

pd.concat( [df1. df2], axis=0 )

In [22]:
df1 = pd.DataFrame({'id':['A','B', 'C', 'D'],
                    'age':[30, 23, 25, 22]})
df2 = pd.DataFrame({'id':['E','F', 'G', 'h'],
                    'age':[40, 21, 19, 24]})
'''
ignore_index=True ignores original indexes and creates a new index (=False by default)
'''
pd.concat([df1,df2], axis=0, ignore_index=True)

  id  age
0  A   30
1  B   23
2  C   25
3  D   22
4  E   40
5  F   21
6  G   19
7  h   24

### 1.1.1 Exercise

In [50]:
# extract a 50% sample of original dataframe (df_movies)
df_movies_sample = df_movies.sample(frac=0.5)

In [51]:
# shape of dataframes that we'll concatenate
print(df_movies_sample.shape)
print(df_ratings.shape)

(42928, 5)
(85855, 3)

In [52]:
# concatenate df_movies and df_movies_sample (vertically along the rows)
df_concat_vert = pd.concat([df_movies, df_movies_sample], axis=0)

In [54]:
# shape
df_concat_vert.shape

(128783, 5)

## 1.2 Concatenate Horizontally

pd.concat( [df1. df2], axis=1 )

In [55]:
df1 = pd.DataFrame({'id': ['A', 'B', 'C', 'D'],
                    'age': [30, 23, 25, 22]})
df2 = pd.DataFrame({'job': ['Doctor', 'Statistician',
                            'Accountant', 'Developer']})

In [58]:
pd.concat([df1,df2], axis=1)

  id  age           job
0  A   30        Doctor
1  B   23  Statistician
2  C   25    Accountant
3  D   22     Developer

### 1.2.1 Exercise

In [59]:
# shape of dataframes well concatenate
print(df_movies.shape)
print(df_ratings.shape)

(85855, 5)
(85855, 3)

In [63]:
# concatenate df_movies and df_ratings on 'imdb_title_id' (horizontally along the columns)
df_concat = pd.concat([df_movies.set_index('imdb_title_id'), 
           df_ratings.set_index('imdb_title_id')], 
          axis=1)

In [64]:
df_concat.shape

(85855, 6)