# 1 Read a .csv from a URL with Pandas

Website: https://www.football-data.co.uk/data.php

In [3]:
import pandas as pd


# read csv file from a website
df_premier25 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [5]:
# show dataframe
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [9]:
# rename columns
df_premier25.rename(columns = {'FTHG':'home_goals',
                                'FTAG':'away_goals'}, inplace = True)
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

# 2 Read csv from MULTIPLE URLS with Pandas

https://www.football-data.co.uk/mmz4281/2425/E0.csv

Link: root + season + league

In [10]:
# link structure
"https://www.football-data.co.uk/mmz4281/" + "2425" + "/" + "E0.csv"

'https://www.football-data.co.uk/mmz4281/2425/E0.csv'

In [12]:
# create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

## 2.1 Multiple Leagues
* https://www.football-data.co.uk/mmz4281/2425/E0.csv
* https://www.football-data.co.uk/mmz4281/2425/E1.csv
* https://www.football-data.co.uk/mmz4281/2425/E2.csv
* https://www.football-data.co.uk/mmz4281/2425/E3.csv
* https://www.football-data.co.uk/mmz4281/2425/EC.csv

In [20]:
# creatng list of leagues
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

# looping through leagues, read multiple csv and append to into a list

for league in leagues:
    df = pd.read_csv(root + '2425' + '/' + league + '.csv' )
    frames.append(df)

In [23]:
# length of frames
len(frames)

5

In [57]:
# show elements
# frames[:5]

## 2.2 Multiple seasons

In [34]:
    for season in range(15,25):
        print(str(season) + str(season+1))

1516
1617
1718
1819
1920
2021
2122
2223
2324
2425

In [39]:
# creatng list of leagues
# leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
leagues = ['E0', 'E1', 'E2']

frames = []

# looping through leagues, read multiple csv and append to into a list

for league in leagues:
    for seasons in range(20,25):
        df = pd.read_csv(root + str(season) + str(season+1)  + '/' + league + '.csv' )
        # add seasons/year column
        df.insert(1, 'season', season)
        frames.append(df)

In [42]:
# total frames (5 seaons x 3 leagues)
len(frames)

15

In [45]:
frames[12]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E2,24,09/08/2024,20:00,Barnsley,Mansfield,1,2,A,1,...,2.03,1.83,2.02,1.87,2.05,2.00,1.95,1.85,2.06,1.93
1,E2,24,10/08/2024,17:30,Birmingham,Reading,1,1,D,0,...,1.80,2.05,1.81,2.10,1.83,2.10,1.80,2.01,1.82,2.16
2,E2,24,10/08/2024,17:30,Bristol Rvs,Northampton,1,0,H,0,...,1.98,1.88,1.98,1.91,1.98,1.92,1.93,1.86,2.02,1.97
3,E2,24,10/08/2024,17:30,Burton,Lincoln,2,3,A,2,...,1.80,2.05,1.82,2.08,1.88,2.09,1.80,2.01,1.88,2.11
4,E2,24,10/08/2024,17:30,Crawley Town,Blackpool,2,1,H,2,...,1.83,2.03,1.85,2.04,1.86,2.05,1.82,1.99,1.89,2.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,24,03/05/2025,15:00,Northampton,Wigan,1,1,D,1,...,2.05,1.80,2.09,1.78,2.11,1.80,2.03,1.78,2.13,1.84
548,E2,24,03/05/2025,15:00,Reading,Barnsley,2,4,A,0,...,1.85,2.00,1.79,2.07,1.85,2.12,1.79,2.03,1.87,2.11
549,E2,24,03/05/2025,15:00,Rotherham,Peterboro,2,1,H,1,...,1.93,1.93,1.93,1.92,2.00,1.95,1.91,1.89,1.98,2.00
550,E2,24,03/05/2025,15:00,Shrewsbury,Crawley Town,1,2,A,0,...,2.03,1.83,2.05,1.81,2.10,1.83,2.03,1.79,2.11,1.87
551,E2,24,03/05/2025,15:00,Wycombe,Stockport,1,3,A,1,...,1.85,2.00,1.87,1.99,1.87,2.15,1.80,2.04,1.88,2.11

# 3 Organize All Data into a Dictionary

In [51]:
# create a dictionary with original name of league as key
dict_countries = {
    'Spanish La Liga':'SP1', 'Spanish Sgeguanda Divison':'SP2',
    'German Bundesliga': 'D1',
    'English Premier League':'E1', 'English League 1':'E2', 'English League 3':'E3'
}

In [56]:
dict_countries['Spanish La Liga']

'SP1'

In [60]:
dict_historical_data = {}
# creatng list of leagues
# leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
# leagues = ['E0', 'E1', 'E2']

# looping through leagues, read multiple csv and append to into a list

for league in dict_countries:
    # resets frame list, makes sure it doesnt accumulate data of previous league
    frames = []
    for seasons in range(20,25):
        df = pd.read_csv(root + str(season) + str(season+1)  + '/' + dict_countries[league] + '.csv' )
        # add seasons/year column
        df.insert(1, 'season', season)
        # appending each season's data for the same league
        frames.append(df)
    # concatenate all seasons that correspond to the same league (combines all those seasons into one big DataFrame)
    df_concat = pd.concat(frames)
    # assigning key which has the name of the league, df_concat being the value
    dict_historical_data[league] = df_concat

In [69]:
# show dataframe inside dict_historical_data

# dict_historical_data.keys()

dict_historical_data['Spanish Sgeguanda Divison']

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,SP2,24,15/08/2024,19:30,Granada,Albacete,1,2,A,1,...,2.05,1.80,2.09,1.83,2.11,1.94,1.98,1.83,2.14,1.86
1,SP2,24,16/08/2024,18:00,Mirandes,Cordoba,1,0,H,1,...,1.80,2.05,1.83,2.08,1.86,2.12,1.81,2.02,1.87,2.11
2,SP2,24,16/08/2024,20:30,Cadiz,Zaragoza,0,4,A,0,...,2.05,1.80,2.10,1.83,2.10,1.86,2.03,1.79,2.13,1.87
3,SP2,24,17/08/2024,16:00,Eibar,Castellon,1,0,H,1,...,2.00,1.85,1.99,1.91,2.07,1.91,1.98,1.83,2.09,1.90
4,SP2,24,17/08/2024,16:00,Ferrol,Malaga,2,2,D,0,...,2.10,1.70,2.20,1.74,2.25,1.84,2.09,1.75,2.26,1.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,SP2,24,01/06/2025,17:30,La Coruna,Elche,0,4,A,0,...,1.95,1.85,1.97,1.88,2.05,1.88,1.97,1.83,2.08,1.89
458,SP2,24,01/06/2025,17:30,Levante,Eibar,1,0,H,0,...,1.85,1.95,1.88,1.98,1.94,2.01,1.86,1.94,1.97,2.01
459,SP2,24,01/06/2025,17:30,Oviedo,Cadiz,2,1,H,2,...,1.98,1.83,1.97,1.88,2.09,1.88,1.97,1.83,2.02,1.94
460,SP2,24,01/06/2025,17:30,Santander,Granada,2,1,H,1,...,1.85,1.95,1.88,1.96,1.96,1.98,1.90,1.89,1.98,1.99
461,SP2,24,01/06/2025,20:00,Cordoba,Albacete,1,1,D,0,...,1.83,1.98,1.85,2.00,1.91,2.04,1.80,2.00,1.85,2.15